$color-primary: #0e8784;
$color-secondary: #333d4b;
$color-orange: #fdd6ba;
$color-light: #fefcf7;
$color-grey: #83888f;
$bg-color: #f2f2f2;
$option-bg: #f4f1eb;

// font family
$barlow: "Barlow", "Arial", sans-serif;
$fraunces: "Fraunces", "Arial", sans-serif;
