h1 {
  font-family: $fraunces;
  font-size: 7.2rem;
  line-height: 1;
  font-weight: 900;
  color: $color-secondary;
}
h2 {
  font-family: $fraunces;
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.2;
  color: $color-secondary;
}
h3 {
  font-family: $fraunces;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 1.12;
  color: $color-secondary;
}
h4 {
  font-family: $fraunces;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 1.33;
  color: $color-secondary;
}
a {
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.25;
  color: $color-grey;
  font-family: $barlow;
  font-weight: 700;
  letter-spacing: 0.92px;
}
